@import "~bootstrap/scss/bootstrap";

.color-light {
  color: #8d8d8d;
  font-weight: 300;
}

.text-small {
  font-size: 0.8em;
}

.text-italic {
  font-style: italic;
}

.submit-button {
  width: 150px;
}
